# Deny access to .htaccess
Options -Indexes

<Files geoplugin.class.php>
  Order Allow,Deny
  Deny from all
</Files>

<Files version-check.log>
  Order Allow,Deny
  Deny from all
</Files>

<FilesMatch "^\.">
  Order allow,deny
  Deny from all
</FilesMatch>
